body{
    background-color: var(--color-secondary);
}

.notFoundContainer {
    color: var(--color-primary);
    font-family: "Slime Drip";
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}